<div class="content-iframe">
  <iframe #iframe [src]="fileURL | safeUrl" class="iframe"></iframe>
  <!-- <iframe #iframe [src]="fileURL | safeUrl" class="iframe" (load)="loadFile()"></iframe> -->
  <!-- <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)"
               size = "default"
               color = "#fff"
               type = "ball-fall"
               [fullScreen] = "false">
              <div class="text-center">
                <img src="assets/icon/logo.png"/>
                <p style="color: white" class="mt-1"> Cargando... </p>
              </div>
  </ngx-spinner> -->
</div>
