<div class="container-setting">

  <mat-card class="card-setting" appearance="raised">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Programación académica</mat-card-title>
        <mat-card-subtitle>Administrar</mat-card-subtitle>
        <!-- <img mat-card-sm-image src="./assets/img/img-academic.svg" > -->
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      Registra y edita programaciones académicas de tu institución.
    </mat-card-content>
    <mat-card-actions align="end" class="card-actions">
      <button mat-stroked-button class="ml-2" (click)="addProgram()">
        <mat-icon>add</mat-icon>
        Agregar
      </button>
      <button mat-stroked-button class="ml-2" (click)="showListProgram()">
        <mat-icon class="btn-icon">
          <ng-icon name="featherList" size="20"></ng-icon>
        </mat-icon>
        Registrados
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card-setting" appearance="raised" *showForRoles="['ROOT_USER','UGEL_USER']">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Grados</mat-card-title>
        <mat-card-subtitle>Administrar</mat-card-subtitle>
        <!-- <img mat-card-sm-image src="./assets/img/img-grades.svg" > -->
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      Realiza el registro y actualización de los grados de las instituciones educativas.
    </mat-card-content>
    <mat-card-actions align="end" class="card-actions">
      <button mat-stroked-button class="ml-2" (click)="addGrades()">
        <mat-icon>add</mat-icon>
        Agregar
      </button>
      <button mat-stroked-button class="ml-2" (click)="showListGrades()">
        <mat-icon>
          <ng-icon name="featherList" size="20"></ng-icon>
        </mat-icon>
        Registrados
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card-setting" appearance="raised" *showForRoles="['ROOT_USER','UGEL_USER']">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Secciones</mat-card-title>
        <mat-card-subtitle>Administrar</mat-card-subtitle>
        <!-- <img mat-card-sm-image src="./assets/img/img-section.svg" > -->
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      Realiza el registro y actualización de secciones de las instituciones educativas.
    </mat-card-content>
    <mat-card-actions align="end" class="card-actions">
      <button mat-stroked-button class="ml-2" (click)="addSections()">
        <mat-icon>add</mat-icon>
        Agregar
      </button>
      <button mat-stroked-button class="ml-2" (click)="showListSections()">
        <mat-icon>
          <ng-icon name="featherList" size="20"></ng-icon>
        </mat-icon>
        Registrados
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card-setting" appearance="raised" *showForRoles="['ROOT_USER','UGEL_USER']">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Calendario académico</mat-card-title>
        <mat-card-subtitle>Administrar</mat-card-subtitle>
        <!-- <img mat-card-sm-image src="./assets/img/img-section.svg" > -->
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      Realiza el registro y actualización del calendario académico para las instituciones. El año del calendario académico es importante.
    </mat-card-content>
    <mat-card-actions align="end" class="card-actions">
      <button mat-stroked-button class="ml-2" (click)="addAcademicCalendar()">
        <mat-icon>add</mat-icon>
        Agregar
      </button>
      <button mat-stroked-button class="ml-2" (click)="showListAcademicCalendar()">
        <mat-icon>
          <ng-icon name="featherList" size="20"></ng-icon>
        </mat-icon>
        Registrados
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card-setting" appearance="raised" *showForRoles="['ROOT_USER','UGEL_USER','DIRECTOR_USER']">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Colegiados</mat-card-title>
        <mat-card-subtitle>Administrar</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      Realiza el registro y actualización de los colegiados existentes. El año del calendario académico.
    </mat-card-content>
    <mat-card-actions align="end" class="card-actions">
      <button mat-stroked-button class="ml-2" (click)="addCollege()">
        <mat-icon>add</mat-icon>
        Agregar
      </button>
      <button mat-stroked-button class="ml-2" (click)="showListCollege()">
        <mat-icon>
          <ng-icon name="featherList" size="20"></ng-icon>
        </mat-icon>
        Registrados
      </button>
    </mat-card-actions>
  </mat-card>

</div>
