<div class="container-setting">

  <mat-card class="card-setting" appearance="raised">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Programación académica</mat-card-title>
        <mat-card-subtitle>Administrar</mat-card-subtitle>
        <!-- <img mat-card-sm-image src="./assets/img/img-academic.svg" > -->
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      Registra y edita programaciones académicas de tu institución.
    </mat-card-content>
    <mat-card-actions align="end" class="card-actions">
      <button mat-button (click)="addProgram()">
        <mat-icon>add</mat-icon>
        Agregar
      </button>
      <button mat-button (click)="showListProgram()">
        <mat-icon>checklist</mat-icon>
        Registrados
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card-setting" appearance="raised">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Grados</mat-card-title>
        <mat-card-subtitle>Administrar</mat-card-subtitle>
        <!-- <img mat-card-sm-image src="./assets/img/img-grades.svg" > -->
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      Realiza el registro y actualización de los grados de las instituciones educativas.
    </mat-card-content>
    <mat-card-actions align="end" class="card-actions">
      <button mat-button (click)="addGrades()">
        <mat-icon>add</mat-icon>
        Agregar
      </button>
      <button mat-button (click)="showListGrades()">
        <mat-icon>checklist</mat-icon>
        Registrados
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card-setting" appearance="raised">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Secciones</mat-card-title>
        <mat-card-subtitle>Administrar</mat-card-subtitle>
        <!-- <img mat-card-sm-image src="./assets/img/img-section.svg" > -->
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      Realiza el registro y actualización de secciones de las instituciones educativas.
    </mat-card-content>
    <mat-card-actions align="end" class="card-actions">
      <button mat-button (click)="addSections()">
        <mat-icon>add</mat-icon>
        Agregar
      </button>
      <button mat-button (click)="showListSections()">
        <mat-icon>checklist</mat-icon>
        Registrados
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card-setting" appearance="raised">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Calendario académico</mat-card-title>
        <mat-card-subtitle>Administrar</mat-card-subtitle>
        <!-- <img mat-card-sm-image src="./assets/img/img-section.svg" > -->
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      Realiza el registro y actualización del calendario académico para las instituciones. El año del calendario académico es importante.
    </mat-card-content>
    <mat-card-actions align="end" class="card-actions">
      <button mat-button (click)="addSections()">
        <mat-icon>add</mat-icon>
        Agregar
      </button>
      <button mat-button (click)="showListSections()">
        <mat-icon>checklist</mat-icon>
        Registrados
      </button>
    </mat-card-actions>
  </mat-card>

</div>
