<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button disabled></button>
    <div>
      @if (node.value.label) {
        <div><ng-icon name="featherFolder"></ng-icon> {{node.value.label}}</div>
      }
      @if (node.value.class_unit) {
        <app-class-unit-item-tree [unit]="unit" [classUnit]="node.value.class_unit"/>
      }
    </div>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <div class="flex justify-content-center align-items-center">
      <div class="mt-3"><p>{{node.value.label}}</p></div>
      @if (node.level==1) {
        <div *showForRoles="['DOCENTE_USER']">
          <button class="ml-2" color="primary" mat-icon-button (click)="addFile(node.value.id_teacher_area?node.value.id_teacher_area:null)">
            <mat-icon class="btn-icon"><ng-icon name="featherPaperclip"></ng-icon></mat-icon>
          </button>
        </div>
      }
    </div>
  </mat-tree-node>
</mat-tree>
@if (this.dataSource.data.length==0 && !loaddingService.getLoadding()) {
  <div class="p-2">
    <app-show-empty-message msg="Aún no le registraron asignaturas a su cargo"/>
  </div>
}@else if(loaddingService.getLoadding() && this.dataSource.data.length==0){
  <div>
     @for (item of [1,2,3]; track $index) {
      <app-skeleton></app-skeleton>
     }
  </div>
}
