<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node class="m-0" *matTreeNodeDef="let node" matTreeNodePadding>
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button disabled></button>
    <div class="">
      @if (node.value.data) {
        <app-class-unit-item-tree/>
      }
      @else {
        <p>vacio</p>
      }
    </div>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <div class="flex justify-content-center align-items-center">
      <p class="mt-3">{{node.value.name}}</p>
      @if (node.level==0) {
        <div *showForRoles="['DOCENTE_USER']">
          <button class="ml-2" mat-icon-button (click)="addFile()">
            <mat-icon class="btn-icon"><ng-icon name="featherUpload"></ng-icon></mat-icon>
          </button>
        </div>
      }
    </div>
  </mat-tree-node>
</mat-tree>
