<div class="navbar-container" [class.example-is-mobile]="mobileQuery.matches">

  <!-- Top navbar -->
  <mat-toolbar class="navbar" color="primary">

   <button mat-icon-button (click)="snav.toggle()">
     <mat-icon>
      <ng-icon name="featherMenu" size="25"></ng-icon>
    </mat-icon>
    </button>

    <a class="navbar-brand">
      <h1>
        CIST
      </h1>
    </a>

    <span class="navbar-spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="notificationMenu">
      <mat-icon [matBadge]="2" aria-hidden="false">notifications</mat-icon>
    </button>
    <mat-menu #notificationMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">

     <a mat-menu-item>
       <span>You have new tasks</span>
     </a>
     <a mat-menu-item>
       <span>You have a new message</span>
      </a>

    </mat-menu>

    <button mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon>
        <ng-icon name="featherUser" size="20"></ng-icon>
      </mat-icon>
     <span fxShow fxHide.xs>
       {{userName}}
     </span>
   </button>
   <mat-menu #userMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">

     <a mat-menu-item [routerLink]="['/account/profile']">
       <mat-icon>person</mat-icon>
       <span>Account</span>
     </a>

     <a mat-menu-item [routerLink]="['/auth/login']">
       <mat-icon>exit_to_app</mat-icon>
       <span>Log out</span>
     </a>

   </mat-menu>

  </mat-toolbar>

  <mat-sidenav-container class="navbar-sidenav-container">

    <!-- Side nav -->
    <mat-sidenav #snav [opened]="!mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class="sidenav">

      <mat-nav-list class="m-2">
        @for (item of listRoutes; track $index) {
          <div *showForRoles="item.permitRoles">
            <a mat-list-item
              [routerLink]="item.route"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
               class="mt-1">
              <div class="flex align-items-center align-content-center item-menu">
                <ng-icon [name]="item.icon" size="20"></ng-icon>
                <span mat-line class="ml-2"> {{item.nameRoute}} </span>
              </div>
            </a>
          </div>
        }

        <a mat-list-item [routerLink]="['/auth/login']" class="mt-1">
          <div class="flex align-items-center align-content-center">
            <ng-icon name="featherLogOut" size="20"></ng-icon>
            <span class="ml-2" mat-line> Log out </span>
          </div>
        </a>

      </mat-nav-list>

    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content class="sidenav-content main-container">


      <div class="progress-bar-container">
        <mat-progress-bar color="accent" mode="indeterminate" *ngIf="spinnerService.visibility | async">
        </mat-progress-bar>
        <!-- <mat-spinner class="spinner" [diameter]="50" *ngIf="showSpinner"></mat-spinner> -->
      </div>

      <div class="m-3">
        <router-outlet></router-outlet>
      </div>


    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
