.dropzone {
  border: 2px dashed #ccc;
  border-radius: 8px;
  height: 150px;
  padding: 20px;
  text-align: center;
  color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
}

.dropzone.dragover {
  background-color: #f0f0f0;
  color: #333;
}

.file-input {
  display: none;
}
.upload-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
