<div>
  <div class="flex justify-content-between flex-wrap">
    <div class="col">
      <h4 class="m-0">Unidades registradas</h4>
      <p>Seleciones las unidades para visualizar</p>
    </div>
    <div class="col flex align-items-center justify-content-end">
    </div>
  </div>
  <mat-card>

    @if (loadingService.getLoadding() && programamAcademics.length==0) {
      <div class="p-3">
        @for (item of [1,2,3,4,5]; track $index) {
            <app-skeleton />
          }
      </div>
    }

    @if (!loadingService.getLoadding() && programamAcademics.length==0) {
      <app-show-empty-message/>
    }@else {

      <div class="p-3">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" (selectedTabChange)="onTabChange($event)">
          @for (item of programamAcademics; track $index) {
            <mat-tab label="{{'Periodo '+item.academic_program_bim}}">
              <ng-container *ngIf="selectedIndex == $index">
                <app-unit-item-tree [_unit_list]="item.unit"></app-unit-item-tree>
              </ng-container>
            </mat-tab>
          }
        </mat-tab-group>
      </div>

    }
  </mat-card>
</div>

