<div class="p-4 mat-dialog-container">
  <p>Registrar programación académica</p>
  <div align="end">
    <form [formGroup]="formGrades" method="post">

      <mat-form-field class="w-full mt-1" appearance="fill">
        <mat-label>Grado</mat-label>
        <input type="text" matInput formControlName="grade_name">
        @if (grade_name.hasError('required') && grade_name.touched) {
          <mat-error class="p-error">El campo es <strong>requerido</strong></mat-error>
        }@else if (grade_name.hasError('pattern') && grade_name.touched) {
          <mat-error class="p-error">El campo grado es <strong>inválido</strong></mat-error>
        }
      </mat-form-field>
      <button mat-button type="button" class="mr-1" (click)="closeDialog()">Cancelar</button>
      <button mat-flat-button type="button" (click)="save()">Registrar</button>
    </form>
  </div>
</div>
