<div class="m-3">
  <p>Lista de secciones registradas</p>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> N° </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="grade">
      <th mat-header-cell *matHeaderCellDef> Sección </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell class="mat-header-cell" *matHeaderCellDef> action </th>
      <td mat-cell class="mat-cell" *matCellDef="let element">
        <button mat-icon-button class="btn-color" (click)="editSection()">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteSection()">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div align="end">
    <button mat-button type="button" class="mr-1" (click)="closeDialog()">Cancelar</button>
  </div>
</div>
