
<!-- table -->
<div class="mt-3">
  <div class="flex justify-content-between flex-wrap">
    <div class="col">
      <h4 class="m-0">Docentes registrados</h4>
      <p>La tabla muestra docentes registrados</p>
    </div>
    <div class="col flex align-items-center justify-content-end">
      <button class="flex justify-content-center align-items-center"
              mat-mini-fab aria-label="Agregar nuevo docente"
              [disabled]="!cacheService.getAcademicCalendar()"
              (click)="addTeacher()">
        <mat-icon>
          <ng-icon name="featherPlus" size="25"></ng-icon>
        </mat-icon>
      </button>
    </div>
  </div>
  <app-teacher-table [dataSource]="dataSource" [length]="length" (pageIndexEvent)="pageIndexEvent($event)"></app-teacher-table>
</div>
