<!-- header button -->
<mat-card>
  <mat-card-content>
    <div class="flex justify-content-between flex-wrap">
      <div class="col flex align-items-center">
        <mat-icon>group</mat-icon>
        <span class="ml-2">Docentes en la institución</span>
      </div>
        <button mat-mini-fab aria-label="Agregar nuevo docente" (click)="addTeacher()">
          <mat-icon>add</mat-icon>
        </button>
    </div>
  </mat-card-content>
</mat-card>
<!-- table -->
<div class="mt-3">
  <app-teacher-table></app-teacher-table>
</div>
